<nav>
  <header class="nav-header">
    <a mat-button class="mat-button-wrapper" routerLink="">
      <span class="mat-button-wrapper">
        <img
        src="../assets/weathercock.svg"
        alt="weather app" class="weather-app-logo">
        <span>
          WeatherGenius
        </span>
      </span>
    </a>
    <a mat-button routerLink="" routerLinkActive="active">Forecast</a>
    <a mat-button routerLink="favorites" routerLinkActive="active">Favorites</a>

    <div class="flex-spacer"></div>

    <button mat-button (click)="openDialog()">Set api key</button>
    <app-configuration-menu></app-configuration-menu>
  </header>
</nav>
