.units-radio-group{
  display: flex;
  flex-direction: column;
  margin: -18px 0 0 0px;
}

.unit-radio-button{
  height: 42px;
  padding-left: 10px;
}

button {
  height: fit-content;
}
mat-slide-toggle{
  width: 100%;
}
/deep/ .mat-slide-toggle-container .mat-slide-toggle-label{
  width: 100%;
  justify-content: space-between !important;
}
