/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.dark-mode {
  --bg-color: rgb(41, 40, 40);
  --text-color: white;
}

.page-container{
  margin: 40px auto auto;
  width: 1200px;
  padding-top: 70px;
}

:root {
  --bg-color: white;
  --text-color: black;
  --placeholder-color: unset;
}
